/* .hoverable-rows .p-datatable-tbody > tr:hover {
    background-color: #e0f7fa !important;
} */



/* Layout.css */
.hoverable-rows .p-datatable-tbody > tr:hover {
    background-color: #f0f0f0 !important; /* Light grey background on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Add this to your CSS file */
/* Layout.css */
/* Layout.css */
@media (max-width: 1024px) {
    .custom-sidebar {
        display: none;
    }
}



/* .table-container {
    min-height: 400px; 
    position: relative;
    overflow-x: auto;
} */



